/*=========================================================================================
  File Name: _typography.scss
  Description: partial- typography styles
  ----------------------------------------------------------------------------------------
==========================================================================================*/

@font-face {
  font-weight: 100;
  font-family: 'Prompt'; //100
  src: url('/fonts/prompt/Prompt-Thin.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 200;
  font-family: 'Prompt'; //200
  src: url('/fonts/prompt/Prompt-ExtraLight.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 300;
  font-family: 'Prompt'; //300
  src: url('/fonts/prompt/Prompt-Light.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: 'Prompt'; //400
  src: url('/fonts/prompt/Prompt-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: 'Prompt'; //500
  src: url('/fonts/prompt/Prompt-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: 'Prompt'; //600
  src: url('/fonts/prompt/Prompt-SemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Prompt'; //700
  src: url('/fonts/prompt/Prompt-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: 'Prompt'; //800
  src: url('/fonts/prompt/Prompt-ExtraBold.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 900;
  font-family: 'Prompt'; //900
  src: url('/fonts/prompt/Prompt-Black.ttf');
  font-display: swap;
}
